body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: pink;
    padding: 30px;
}

h2{
    color: red;
}

.form{
    margin-bottom: 20px;
}

input{
    border: 1px solid grey;
    border-radius: 5px;
    width: 400px;
    padding: 7px;
}

button
{
    padding: 10px 15px;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 7px;
    cursor: pointer;

}

ul{
    list-style: none;
    padding: 0;
}
