body{
    font-family: 'Times New Roman', Times, serif;
    background-color: white;
    padding: 40px;
    text-align: center;
}

.container
{
    background-color: yellow;
    padding: 30px;
    border-radius: 7px;
     display: inline-block;
    box-shadow: 0 2px 10px rgba(0,0,0, 0.1);
}

h2{
    margin-bottom: 20px;
}

.form input, .form select{
    padding: 10px;
    margin-right: 10px;
    border: 1px solid orangered;
    border-radius: 6px;
}

button{
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li{
    background-color: blueviolet;
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 6px;
    text-align: left;
    display: flex;
    justify-content: space-between;
}